html,
body {
    height: 100%;
    --nav-color: #474787;
    --page-color: #ECECEC ;
    --footer-color:  #AAABB8;
    --dark-color: #2C2C54;

}
nav, .view-details {
    background-color: var(--nav-color);
}
.navbar {
    padding: 0;
}
.view-details {
    color: white;
}
.view-details:hover{
    background-color: #3b3b70;
    color: white;
}
.navbar-brand, .nav-link, .dropdown-item {
    color: var(--page-color);
    font-size: 30px;
    height: 100%;
}
.navbar-toggler {
    color: var(--page-color) !important;
    border-color: var(--page-color);
}
.navbar-toggler-icon {
    background-image: url("images/hamburger.svg");
}
/*main
{
    background-color: var(--page-color);
    flex: 1 0 auto;
}*/

footer {
    background-color: var(--footer-color);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.dropdown-menu[data-bs-popper]{
    border-width: 0;
    border-radius: 0;
    margin: 0;
    background-color: var(--nav-color); 
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;

}
.dropdown-item:hover {
    background-color: var(--nav-color);
}
.card-image {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375em;
    height: 450px;
}
.carousel-item {
    height: 24rem;
}
.contact-paragraph{
    font-size: 1.25em;
    font-weight: 300;
}
.contact-me{
    color: var(--nav-color)
}
.submit {
    font-size: 1.1em;
    background-color: var(--nav-color);
    color: white;
}
.submit:hover {
    color: var(--nav-color);
    border-color: var(--nav-color);
}
.about-image {
    height: 450px;
}
.nav-link:hover, .dropdown-item:hover {
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    color: var(--nav-color);
}
.nav-link:hover {
    padding-left: 0.25em;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--footer-color);

}
.training-split-headers{
    color: var(--nav-color);
}
.card-background {
    box-shadow: inset 0px 0em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}